.glacierMask {
    transition: 1000ms ease;
}

.main {
    border-radius: 20rem;
}

.greentint {
  filter: sepia(1) saturate(3) hue-rotate(95deg) brightness(0.9);
}
.redtint {
  filter: sepia(1) hue-rotate(-45deg) saturate(4) brightness(0.85);
}
