.main {
    color: black;
    gap: 5rem;
    margin-top: 1rem;
}

.sidecontainer {
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

.header {
    font-size: 2rem;
}

.energyusep {
    text-align: center;
}