

.tree_leaves {

}

:global {
  #leaf_layer3 {
    transform: translateY(-10rem);
  }
}

.dropped-leaf {

}

@keyframes slide-down{
    from { transform: translateX(0); }
    /* to { transform: translateY(300px); } */
}

.trunk {
  transform: trnaslateX(50rem);
}

.overalltree {
  width: 30vw;
  display: block;
}